# LaTeX stuff
build/
*.aux
*.log

# Emacs junk
auto/
ltxpng/

# Python stuff
*.py[cod]

# Temps
*.*~
*.bak
thesis.bbl
thesis.bcf
thesis.blg
.gitignore
thesis.fdb_latexmk
thesis.fls
thesis.run.xml
.gitignore
thesis.synctex.gz
thesis.toc
thesis.pdf
thesis.synctex(busy)
thesis.lot
thesis.lof
thesis1-blx.bbl
thesis1-blx.blg
thesis-blx.bib
thesis1-blx.bbl
thesis1-blx.blg
_minted-thesis/6928338B9F647DA95EEEF6B9B33D4D208FBDBCB5E0AFA139CAB6197421B8C3C1.pygtex
.gitignore
_minted-thesis/default.pygstyle
.gitignore
_minted-thesis/default.pygstyle
