# LaTeX stuff
build/
*.aux
*.log

# Emacs junk
auto/
ltxpng/

# Python stuff
*.py[cod]

# Temps
*.*~
*.bak
thesis.bbl
thesis.bcf
thesis.blg
.gitignore
thesis.fdb_latexmk
thesis.fls
thesis.run.xml
.gitignore
thesis.synctex.gz
thesis.toc
thesis.pdf
thesis.pdf
